* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #222;
  font-family: arial;
  margin: 0 1rem;
  background: linear-gradient(90deg, #333, #111);
}

h3 {
  text-align: center;
  font-size: 2rem;
  color: #f0f0ff;
  margin-bottom: 2.5rem;
}

h1 {
  font-size: 4.5rem;
  color: rgb(255, 11, 101);
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  background-color: #444;
  text-align: center;
  transition: 600ms;
  backdrop-filter: blur(40px);
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  color: #f0f0ff;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.day:hover,
.month:hover,
.date:hover {
  color: #f0f0ff;
  text-shadow: 0 0 10px #f0f0ff, 0 0 20px #f0f0ff, 0 0 40px #f0f0ff,
    0 0 80px #f0f0ff, 0 0 120px #f0f0ff, 0 0 16px #f0f0ff;
}

.day,
.month,
.date {
  background-color: #444;
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 500ms;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
    padding: 0.4rem 1.5rem;
  }
}
